body {
height: 100vh;
background-color: whitesmoke;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
}

header {
    display: flex;
	justify-content: space-between;
    background-color: darkgrey;
    height: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.logo {

    height: 20px;
    width: 20px;
    background-image: url(images/logo.jpg);
    background-size: cover;
    /* margin-right: 30px; */
    border-radius: 10px;
/* padding-right:40px;
padding-left: 10px; */
}

nav li{
    list-style: none;
}

.item {
	display: inline-block;
    font-size: 9px;
    /* margin: 0.5px; */
}

.presentation {
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkgrey;
    margin-top: 5px;
    border-radius: 10px; 
}

h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

img {
    width : 90px;
    height : 90px;
    border-radius: 10px;
    margin-top: 10px;
    border: 5px darkgrey solid;
    padding: 15px;
    margin-bottom: 15px;
    }

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 450px;
    
}

.paragraphes {
    display: flex;
    flex-direction: column;
    width: 240px;
    justify-content: space-evenly;
    align-content: space-around;
    margin:10px 10px 10px 10px;
}         


h3 {
    font-size: 15px;
}


footer {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
    background-color: darkgrey;
    height: 20px;
    margin:0px;
    border-radius:10px;
}    

@media (min-width:768px){

    body {
        height: 100vh;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        }
    
    header {
        display: flex;
        justify-content: space-between;
        background-color: darkgrey;
        height: 70px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .logo {
        height: 70px;
        width: 70px;
        background-image: url(images/logo.jpg);
        background-size: cover;
        margin-right: 5px;
        border-radius: 10px;
    }
    nav li{
        list-style: none;
        margin-top: 30px;
    }
    
    .item {
        display: inline-block;
        font-size: 15px;
        /* margin: 0.5px; */
    }


    .presentation {

        background-color: darkgrey;
        margin-top: 10px;
        height:250px ; 
        border-radius: 10px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
    }
    


   
        main {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            min-height: 600px;
            min-width: 600px;
            margin-top: 100px; 
            margin-right: 0px; 
            margin-left: 30px;
            
        }   
    

    .paragraphes {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 200px;
        justify-content: space-evenly;
        align-content: space-around;
        height:550px;
        margin-right: 20px;
        margin-left: 10px;

      }  
      
    img {
        width : 140px;
        height : 140px;
        border-radius: 10px;
        /* border-color: brown; */
        margin-top: 90px;
        margin-bottom: 10px;
        padding-top: 15px;
        border: 5px darkgrey solid;
        padding: 10px;
        margin-bottom: 15px;
        } 

    .image1 {

        padding-top: px;
        width: 150px;
        height: 140px;
        margin-bottom: 40px;
        padding-bottom: 175px;
        border-radius: 10px;
        border-color: darkgrey;
        
    }    

    footer { 
    background-color: darkgrey;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    

    }
 /* rajout du menu burger */
 a {
    text-decoration: none;
    color: black;
  }
  
  .menu-mobile {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 200px;
    position: fixed;
    top: 0;
    left: -150px;
    z-index: 1;
    padding-top: 0px;
    padding-left: 10px;
    transition: left 0.5s ease;
  }
  
  .menu-desktop {
    display: flex;
    gap: 0px;
  }
  
  .btn-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 0.99925rem;
    line-height: 1;
    background-color: transparent;
    outline: transparent;
    border: none;
  }
  
  .nav-bar {
    display: block;
    /* position: relative; */
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 40px;
    border-radius: 3px;
    height: 3px;
    background: #000;
    margin: 1px;
  }
  .close1,
  .close2 {
    position: absolute;
    top: 12px;
    right: -43px;
  }
  .close1 {
    transform: rotate(135deg);
    transition: all 0.5s ease;
  }
  
  .close2 {
    transform: rotate(-135deg);
    transition: all 0.6s ease;
  }
  
  .btn-toggler {
    position: absolute;
    top: 0;
    right: 0;
  }
  .hidden {
    display: none;
  }
  @media (min-width: 425px) {
    .menu-mobile {
      display: none;
    }
  }
 
  @media (max-width: 425px) {

    .logo {
        margin: auto;
        
        
    }
    .menu-desktop {
      display: none;
    }
     .title {
      font-size: 18px;
      margin-left: 33px;
      transition: all 0.5s ease;
    } 
  }    
    

