html {height: 100vh;}
body {height: 100%;
background-color: whitesmoke;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

header {
    display: flex;
	justify-content: space-between;
	/* align-items: center; */
    background-color: darkgrey;
}
.logo {
    height: 50px;
    width: 50px;
    background-image: url(images/logo.jpg);
    background-size: cover;
    margin-right: 5px;
}

.item {
	display: inline-block;
    font-size: 8px;
    /* margin: 0.5px; */
}

.presentation {
    background-color: darkgrey;
    margin-top: 20px; 

}
h1 {
    text-align: center;
    font-size: 30px;
}
img {
    width : 90px;
    height : 90px;
    border-radius: 10px;
    border-color: brown;
    }

footer {
        display: flex;  
        background-color: darkgrey;
        
}    