body {
height: 100vh;
background-color: whitesmoke;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 10px;
}

header {
    display: flex;
	justify-content: space-between;
    background-color: darkgrey;
    height: 20px;
}
.logo {
    height: 20px;
    width: 20px;
    background-image: url(images/logo.jpg);
    background-size: cover;
    margin-right: 5px;
}

nav li{
    list-style: none;
}

.item {
	display: inline-block;
    font-size: 9px;
    /* margin: 0.5px; */
}

.presentation {

    background-color: darkgrey;
    margin-top: 5px; 
}

h1 {
    text-align: center;
    font-size: 30px;
}

img {
    width : 90px;
    height : 90px;
    border-radius: 10px;
    border-color: brown;
    margin-top: 10px;
    }

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 450px;
    
}

.paragraphes {
    display: flex;
    flex-direction: column;
    width: 240px;
    justify-content: space-evenly;
    align-content: space-around;
    margin:10px 10px 10px 10px;
}         


h3 {
    font-size: 15px;
}


footer {
    display: flex; 
    background-color: darkgrey;
    height: 20px;
    margin:0px
}    

@media (min-width:768px){
    
    header {
        display: flex;
        justify-content: space-between;
        background-color: darkgrey;
        height: 20px;
    }
    
   
    
    main {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 650px;
    margin:0;
    }

    .paragraphes {
        display: flex;
        flex-direction: column;
        width: 200px;
        justify-content: space-evenly;
        align-content: space-around;
        margin:10px 10px 10px 10px;
      }    

    footer { 
    background-color: darkgrey;
    height: 40px;
    margin:0px;
    }
    

    }
    

